<%- include("partials/header" , {ok : login}); -%>
<h1>TO contact me :</h1>
<h1>Mail me at : prashantnk2001@gmail.com</h1>
<br>
<h1>or whatsapp at  : 9430650271</h1>
<%- include("./partials/footer.ejs"); -%>