<%- include("partials/header" , {ok : login}); -%>
<h3>NEW QUESTION : </h3>
<!-- form to new ques -->
<form action="/newquestion" method="POST">
    <div class="form-group">
        <label for="topic">Question Topic </label>
        <select class="form-control" name="topic">
            <option selected>Choose...</option>
            <option>WEB DEVELOPMENT</option>
            <option>APP DEVELOPMENT</option>
            <option>COMPETITIVE PROGRAMMING</option>
            <option>DSA</option>
            <option>SEMESTER</option>
            <option>OTHERS..</option>
        </select>
        <label for="heading">Question Heading </label>
        <input type="text" required autocomplete="off" name="heading" class="form-control">
        <label for="question">Question Description</label>
        <textarea name="question" id="" cols="30" rows="10" class="form-control" required autocomplete="off">
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("./partials/footer.ejs"); -%>