<%- include("partials/header" , {ok : login}); -%>
<main id="main">
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/">Home</a></li>
      <li>Register</li>
    </ol>
    <h2>Sign Up</h2>
  </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
  <div class="containerlogin">
  <div class="loginbox"> <img src="https://i.imgur.com/ZYzTdD0.png" class="avatar">
    <h1 id="loginh1">Sign Up Here </h1>
    <form method="post" action="/signup">
        <input type="hidden" name="topics" value="<%=topics%>">
        <p>First Name </p> <input type="text" name="first" placeholder="Enter First Name"required autofocus>
        <p>Last Name </p> <input type="text" name="last" placeholder="Enter Last Name"required >
        <p>Email</p> <input type="email" name="username" placeholder="Enter Email"required >
        <p>Password</p> <input type="password" name="password" required placeholder="Enter Password"> 
        <input type="submit" name="" value="Sign Up"> 
        <div class="google">
        <a href="#">
        <button type="button">
        <img src="https://www.iconfinder.com/data/icons/social-media-2210/24/Google-512.png" style="width:30px; background:white; border-radius:50%;" alt="">
        <b>Sign Up With Google</b></button>
      </a>
      </div>
    </form>
</div>
</div>
<section id="about" class="about" >
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div class="col-lg-6 d-flex flex-column justify-content-center" id="main-about"data-aos="fade-up" data-aos-delay="200">
        <div class="content" >
          <h3>Note : </h3>
          <h2>If you have already registered , please login here :</h2>
          <div class="text-center text-lg-start">
            <a href="/login" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Log In</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
          * If you are redirected here , Your Email isn't Registered !.
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
</section>
<%- include("./partials/footer.ejs"); -%>